<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tantalum.financejournal">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8303071997891278~7113367134"/>

        <activity android:name="com.tantalum.financejournal.EnterPIN"/>
        <activity android:name="com.tantalum.financejournal.Insights" />
        <activity android:name="com.tantalum.financejournal.About" />
        <activity
            android:name="com.tantalum.financejournal.accounts.AccountManager"
            android:label="Account Manager" />
        <activity android:name="com.tantalum.financejournal.UpgradeToPro" />
        <activity android:name="com.tantalum.financejournal.accounts.AccountDetails" />
        <activity android:name="com.tantalum.financejournal.accounts.NewAccount" />
        <activity android:name="com.tantalum.financejournal.InitialSetup" />
        <activity
            android:name="com.tantalum.financejournal.reports.Reports"
            android:label="@string/reports" />
        <activity
            android:name="com.tantalum.financejournal.quicklist.EditQuickList"
            android:label="@string/settings_quick_list" />
        <activity
            android:name="com.tantalum.financejournal.transactions.TransactionHistory"
            android:label="@string/recent_transactions" />
        <activity
            android:name="com.tantalum.financejournal.settings.Settings"
            android:label="@string/settings" />
        <activity
            android:name="com.tantalum.financejournal.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:hardwareAccelerated="true"/>
        <receiver android:name="com.tantalum.financejournal.AlertReceiver" />
    </application>

</manifest>