<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tantalum.financejournal">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CategoriesActivity"></activity>
        <activity android:name=".WebViewActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8303071997891278~7113367134" />

        <activity android:name=".EnterPIN" />
        <activity android:name=".Insights" />
        <activity android:name=".About" />
        <activity
            android:name=".accounts.AccountManager"
            android:label="Account Manager" />
        <activity android:name=".UpgradeToPro" />
        <activity android:name=".accounts.AccountDetails" />
        <activity android:name=".accounts.NewAccount" />
        <activity android:name=".InitialSetup" />
        <activity
            android:name=".reports.Reports"
            android:label="@string/reports" />
        <activity
            android:name=".quicklist.EditQuickList"
            android:label="@string/settings_quick_list" />
        <activity
            android:name=".transactions.TransactionHistory"
            android:label="@string/recent_transactions" />
        <activity
            android:name=".settings.Settings"
            android:label="@string/settings" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>