<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".categories.CategoriesActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/categories" />
        <activity android:name=".EnterPINActivity" />
        <activity android:name=".Insights" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/about"/>
        <activity
            android:name=".accounts.AccountManager"
            android:label="Account Manager"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pro.UpgradeToProActivity"
            android:label="@string/upgrade_to_pro"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".accounts.AccountDetails"
            android:label="@string/account_details"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".accounts.NewAccount"
            android:label="@string/new_account"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".InitialSetupActivity" />
        <activity
            android:name=".reports.ReportsActivity"
            android:label="@string/reports"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".quicklist.QuickListActivity"
            android:label="@string/settings_quick_list"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlertReceiver" />
    </application>

</manifest>